*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    background: #cccccc;
}
/* header > div{
    border: 1px solid lightblue;
} */
header{
    min-height: 81px;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);

}
.parte1 >{
    width: 100%;
}
.opciones{
    margin: 0 5px 0 5px;
}
.parrafo{
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;
    line-height: 40px;
}
.divfinal{
    background: #27C7FF;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}
.pfinal{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 0;
}

/* ########### SECCIÒN 2 ############ */

.parte2{
    min-height: 784px;
    
}
/* .parte2 > div {
    border: 1px solid purple;
} */
.parrafo2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #5d5d5d;
    margin: 0 39px 0 39px;
}
.dashboard{
    padding: 0px;
}
.dash{
    font-family: 'Quicksand:700', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.lorem {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #5d5d5d;
    margin: 0 62px 0 62px;
    margin: 0 10% 0 10%;
}

/* ########### SECCIÒN 3 ############ */

.parte3{
    min-height: 2476px;
}
/* .parte3 > div {
    border: 1px solid red;
} */
.fondoList{
    min-height: 494px;
    background: #27C7FF;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}
.toDo{
    font-family: 'Quicksand-light', sans-serif;
    
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #5d5d5d;
    margin: 0 8% 0 8%;
    /* margin: 0 62px 0 62px; */
}
.fondoBurdown{
    min-height: 410px;
    background: #27C7FF;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}
.pburdown{
    font-family: 'Quicksand:', sans-serif;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo4{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #5d5d5d;
    margin: 0 10% 0 10%;
}
.fondoNotifications{
    min-height: 486px;
    background: #27C7FF;
}
.pnotifications{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
    margin: 0 10% 0 10%;
}
.parrafo5{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    margin: 0 10% 0 10%;
}

/* ########### SECCIÒN 4 ############ */

.parte4{
    min-height: 919px;
}
/* .parte4 > div{
    border: 1px solid lightseagreen;
} */
.pcards{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo6{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
    color: #5d5d5d;
    margin: 0 10% 0 10%;
}
.pcalendar{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo7{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
    color: #5d5d5d;
    margin: 0 10% 0 10%;
}

/* ########### SECCIÒN 5 ############ */
.parte5{
    min-height: 1150px;
}
.fondoTask{
    min-height: 323px;
    background: #27C7FF;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}
.imgTask{
    width: 358px;
    height:234px;
}
.pTask{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo8{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    margin: 0 10% 0 10%;
}
.fondoTeam{
    min-height: 218px;
    background: #27C7FF;
    box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
}
.pTeam{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #015C9D;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo9{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    margin: 0 10% 0 10%;
}

/* ########### SECCIÒN 6 ############ */

.parte6{
    min-height: 919px;
}
/* .parte6 > div {
    border: 1px solid lightslategray;
} */
.ptaskview {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #015C9D;
    letter-spacing: 2px;
    line-height: 100%;
    margin-left: 30%; 
}
.parrafo10{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    margin: 0 10% 0 10%; 
}

/* ########### SECCIÒN 7 ############ */

.parte7{
    min-height: 919px;
    background: #27C7FF;
}
.pProject{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 3px;
    line-height: 100%;
}
.parrafo11{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}
/* ########### SECCIÒN 8 ############ */

.parte8{
    min-height: 919px;
}
/* .parte8 > div {
    border:1px solid black;
} */
.encabezadoPie{
    min-height: 131px;
    background:  #27C7FF;
}
.cuerpo{
    min-height: 657px;;
}
.pfrase{
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: #015C9D;
    line-height: 100%;
    margin: 0 5% 0 5%; 
}
.parrafo12{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    line-height: 150%;
    margin: 0 10% 0 10%; 
}

/* ########### SECCIÒN 9 ############ */

.parte9{
    min-height: 919px;
    width: 100%;
}  
/* .parte9 > div {
    border:1px solid blue;
    
} */
.pView {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #015C9D;
    letter-spacing: 2px;
    line-height: 100%;
}
.parrafo13{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    line-height: 150%;
    margin: 0 10% 0 10%; 
}

/* ########### SECCIÒN 9 ############ */

.parte10{
    width: 100%;
    min-height: 919px;
}
/* .parte10 > div {
    border: 1px solid maroon;
} */
.encabezado10{
    min-height: 237,92px;
}
.divEncabezado10{
    min-height: 431.92px;
}
.pEncabezado10{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d5d5d;
    line-height: 150%;
    margin: 0 10% 0 10%; 
}
.pie10{
    background: #DCE9F7;
    min-height: 250.08px;
}
/* .imgEncabezado10{
    min-width: 414px;
    min-height: 237px;
} */

@font-face {
    font-family: "Quicksand";
    font-weight: 700; 
    src: url("https://fonts.googleapis.com/css?family=Quicksand:700&display=swap");
    }
    @font-face {
        font-family: "Quicksand-light";
        font-weight: 300; 
        src: url("https://fonts.googleapis.com/css?family=Quicksand:300&display=swap");
        }